@{
    ViewBag.Title = "Contact";
    Layout = null;
}

<style type="text/css">
    p
    {
        font-size: 10px;
    }
</style>

<div>

    <img src="~/Images/acs-logo.png" />
    <h3>Advanced Computer Software Group</h3>
    <hr />
    <article style="width: 100%;">

        <p>
            <strong>Head Office Address</strong><br><br />
            Munro House, Portsmouth Road<br>
            Cobham, Surrey<br>
            KT11 1TF, United Kingdom
        </p>

        <p>
            Telephone<br/>
            Telephone: 08451  606 162<br>
            Fax: 01932 584 001<br><br />
          
            Email Address<br />
            Email: <a href="mailto:marketing@advancedcomputersoftware.com"> marketing@advancedcomputersoftware.com</a><br><br />

            Website : <a href="http://www.advancedcomputersoftware.com/" target="_blank">http://www.advancedcomputersoftware.com</a>
        </p>
        
    </article>
</div>